@font-face {
    font-family: 'Reluctant-Aviator';
    src: url('ReluctantAviatorDemoRegular-BWLrl-2.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HYZhengYuan';
    src: url('HYZhengYuan-75W.ttf');
    font-weight: normal;
    font-style: normal;
}